body {
	background-color: #eeeeee;
	margin: 0;
	padding: 0;
}

#top_bg {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 25%;
	
	box-shadow: 2px 2px #d6d6d6;
	background-color: #50ceeb;
}